<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10 form-layout">
        <div class="row">
            <div class="col-12">
                <div class="fw-bold mb-2 fs-5">Autorization required</div>
                <p>
                    You are not autorized or haven't got enough permissions to access this section. You need to be logged in. 
                    You need to be an administrator to manage user accounts. You need to be a manager to manage tasks.
                </p>
            </div>
        </div>
    </div>
</div>

